/*---- Fonts ----*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Tangerine:wght@400;700&display=swap');

/*---- General ----*/
body{
    font-family: 'Gentium Book Basic', serif;
}
hr {
    height: 10px;
    border-radius: 25px;
    width: 90vw;
    border: none;
    background-image: linear-gradient(to right, rgba(226, 192, 139, 0), rgba(112, 66, 65, 1), rgba(226, 192, 139, 0));
}

/*---- Containers ----*/
.container-fluid{
    background-color: rgb(250, 247, 235);
}
.title-container {
    height: 25vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}
.image-container {
    height: 20vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}

/*---- Headings ----*/
.title-container h1,
.header h1 {
    color: rgb(250, 247, 235);
    padding-top: 7vh;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    font-weight: 700;
}
.library h2, 
.header h2,
h3.footer,
.add-book h3,
.edit-book h3,
.edit-user h3,
.edit-account h3,
h3.genres,
.search-results h3,
h3.users,
h3.bookcase {
    padding-top: 5px;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    margin-bottom: 0;
}
.header h2 {
    color:rgb(250, 247, 235);
    padding-top: 5vh;
    padding-bottom: 15px;
}
.about h3{
    margin-top: 10px;
    text-decoration: underline;
    text-align: center;
}
.library h2 {
    padding-bottom: 0;
}
.about h3 {
    font-size: 24px;
}
h3.footer {
    font-size: 40px;
    text-decoration: underline;
}

/*---- Links ----*/
.nav-link,
.navbar-brand,
.navbar-toggler,
.footer-link,
.social,
.sign-up-link a,
.register-link,
.library-link,
.sign-in-link a,
.profile-link,
.issue-link a,
.delete a {
    color:  #231709;
    font-weight: 600;
}
.library-link {
    font-size: 24px;
}
.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover,
.footer-link:hover,
.social:hover,
.sign-up-link a:hover,
.register-link:hover,
.library-link:hover,
.sign-in-link a:hover,
.profile-link:hover,
.issue-link a:hover,
.pagination-links a.page-link,
.delete a:hover {
    color: #012d50;
    text-decoration: none;
}
.navbar-brand{
    font-family: 'Tangerine', cursive; 
    font-size: 36px
}
.social{
    font-size: 20px;
    padding: 0 5px;
}
.bookshelf a {
    font-size: 24px;
}
.warning a {
    margin-bottom: 8px;
}
.nav-link {
    line-height: 1;
}
.pagination-links .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #012d50;
    border: 1px solid #231709;
}

/*---- Buttons ----*/
.my-btn {
    color: white;
    border: 1px solid #231709;
    background: url("../images/app-images/book-spine.png") repeat left center;
    background-size: cover;
    width: 60vw;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
}
.btn {
    border: 1px solid #231709;
    color: #FAF7EB;
}
.delete-btn,
.edit-genres-btn {
    background-color: #9C160C;
    margin-right: 5px;
}
.edit-genres-btn,
#edit-genre-form input {
    height: 30px;
}
.edit-genres-btn,
.delete-genre-btn {
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 25px;
    height: 34px;
}
.edit-btn,
.read-btn {
    background-color:#BC9653;
    color:  #231709;
    margin-right: 0px;
}
.profile-btn,
.search-btn,
.reset-btn {
    background-color:#012d50;
}
.genres-btn button {
    width: 100%;
}
.edit-genre {
    padding-left: 0;
    padding-right: 0;
}
.btn.hover:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;  
    color: white;
}
.genres .btn {
    height: 41px;
}
.profile-books .btn,
.profile-books p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.modal-btn a {
    width: 50%;
    margin-bottom: 10px;
}
.buttons .btn {
    margin-left: 5px;
}
.btn.hover {
    transition: none;
}
.own-btn,
.cancel-btn {
    background-color: #043c04;
}
.profile-books .btn {
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.search-box .my-btn {
    width: 100%;
}
.edit-book a,
.edit-account a,
.edit-user a {
    margin-top: 10px;
}

/*---- Forms ----*/
input,
.custom-select,
textarea {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 5px;
}
fieldset {
    width:90%;
    padding-left: 10%;
}
#edit-account-form select {
    margin-top: 10px;
    margin-bottom: 10px;
}
label,
.rating-stars p {
    margin-bottom: 0;
}
input[name=rating] {
    display: none;
  }
.rating-stars label {
    font-size: 20px;
    color: rgb(188 150 83);
  }
.rating-stars input:checked~label {
    color: rgb(156 22 12) ;
  }
.search-box .my-btn,
.search-box input,
#add-genre-form input,
#add-genre-form button {
    margin-bottom: 15px;
    margin-top: 0;
    height: 38px;
}
.custom-control {
    margin-top : 10px;
    margin-bottom : 10px;
}
input {
    padding-left: 5px;
}
.about {
    margin-bottom: 10px;
}
.password,
.delete {
    margin-bottom: 10px;
    margin-top: 10px;
}
.signin.form {
    border: 1px solid #ced4da;
    padding: 10px;
    margin-top: 5vh;
}
.search {
    padding-left: 0;
}
.contact p {
    margin-top: 10px;
    font-size: 18px;
}

/*---- Page content ----*/
.users .col-10,
.genres .col-10 {
    margin-bottom: 8px;
}
.users p,
.genres p {
    margin-bottom: 0px;
    font-size: 20px;
}
.error-message {
    padding-top: 10px;
}
footer p {
    margin-bottom: 0;
}
.image-container i {
    font-size: 40px;
}
img { 
    width: 60%;
    height: auto;
    border-radius: 10px;
}
.profile-books .book-title{
    padding-right: 0;
    padding-left: 0;
}
.profile-books .buttons {
    padding-left: 0;
}
.books p {
    margin-bottom: 0.25rem;
}
.flashes {
    margin-top: 10px;
    background-color: rgba(137, 37, 23, 0.75) ;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}
.row.genres {
    margin-top: 10px;
}
.profile-books .card {
    height: 31px;
}
.error-message p {
    font-size: 28px;
}

/*---- Keyframes ----*/
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

/*---- Media Queries ----*/
@media(max-width:350px){
    .social{
        font-size: 16px;
        padding: 0 5px;
    }
}
@media(max-width:750px){
    .btn i {
        display: none;
    }
    .bookshelf i {
        display: inline;
    }
    .buttons {
        text-align: center;
    }
    .add-book h3,
    .edit-book h3,
    .edit-account h3,
    .edit-user h3 {
        font-size: 36px;
    }
}
@media(min-width:750px){
    body {
        font-size: 20px;
    }
    .my-btn {
        width: 20vw;
    }
    .title-container h1,
    .header h1 {
        padding-top: 10vh;
        font-size: 70px;
    }
    .library h2, 
    .header h2,
    .add-book h3,
    h3.genres,
    .search-results h3,
    h3.users,
    h3.bookcase {
        padding-top: 15px;
        font-size: 60px;
    }
    .flashes {
        font-size: 24px;
    }
    .profile-books .book-title{
        padding-right: 0;
        padding-left: 30px;
    }
    .nav-link {
        font-size: 16px;
    }
    .header h2 {
        padding-top: 7vh;
    }
}
@media(min-width:770px){
    .profile-books {
        text-align: left;
    }
    .profile-books .card {
        text-align: center;
    }
    .social{
        font-size: 20px;
        padding: 0 10px;
    }
}
@media(min-width:992px){
    .nav-link {
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 40px;
    }
    .title-container h1,
    .header h1 {
        padding-top: 15vh;
        font-size: 100px;
    }
    .title-container {
        height: 40vh;
    }
    .image-container{
        height: 30vh;
    }
    .header h2 {
        padding-top: 10vh;
    }
    .library h2, 
    .header h2,
    .add-book h3,
    .edit-book h3
    h3.genres,
    .search-results h3,
    h3.users,
    h3.bookcase {
        font-size: 80px;
    }
}
@media(min-width:1450px){
    .nav-link {
        font-size: 24px;
    }
    .navbar-brand{
        font-size: 50px;
    }
    .btn-sm,
    .profile-books .card {
        height: 45px;
        font-size: 20px;
    }
}