@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Tangerine:wght@400;700&display=swap');
.container-fluid{
    background-color: rgb(250, 247, 235);
}
body{
    font-family: 'Gentium Book Basic', serif;
}
.nav-link,
.navbar-brand,
.navbar-toggler,
.footer-link,
.social{
    color:  #231709;
    font-weight: 600;
}
.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover,
.footer-link:hover,
.social:hover{
    color: #035597;
}
.navbar-brand{
    font-family: 'Tangerine', cursive; 
    font-size: 36px
}
.social{
    font-size: 30px;
}
.title-container {
    height: 30vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}
.title-container h1 {
    color: rgb(250, 247, 235);
    padding-top: 10vh;
    font-family: 'Tangerine', cursive;
    font-size: 70px;
    font-weight: 700;
}
.library h2, 
.register h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
}
.register h2 {
    color:rgb(250, 247, 235);
    padding-top: 5vh;
}
.image-container {
    height: 20vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}
img { 
    width: 60%;
    height: auto;
    border-radius: 10px;
}
hr {
    height: 10px;
    border-radius: 25px;
    width: 90vw;
    border: none;
    background-image: linear-gradient(to right, rgba(226, 192, 139, 0), rgba(137, 37, 23, 0.75), rgba(226, 192, 139, 0));
}
.my-btn {
    color: white;
    border: 1px solid #231709;
    background: url("../images/app-images/book-spine.png") no-repeat left center;
    background-size: fill;
    margin-top: 10px;
    width: 60vw;
}
label {
    margin-bottom: 0;
}
input {
    width: 90vw;
}
fieldset {
    padding-left: 5px;
}
.books p {
    margin-bottom: 0.25rem;
}