@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Tangerine:wght@400;700&display=swap');
.container-fluid{
    background-color: rgb(250, 247, 235);
}
body{
    font-family: 'Gentium Book Basic', serif;
}
.nav-link,
.navbar-brand,
.navbar-toggler,
.footer-link,
.social,
.sign-up-link a {
    color:  #231709;
    font-weight: 600;
}
.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover,
.footer-link:hover,
.social:hover,
.sign-up-link a:hover {
    color: #035597;
    text-decoration: none;
}
.navbar-brand{
    font-family: 'Tangerine', cursive; 
    font-size: 36px
}
.social{
    font-size: 20px;
    padding: 0 10px;
}
footer p {
    margin-bottom: 0;
}
.title-container {
    height: 30vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}
.title-container h1 {
    color: rgb(250, 247, 235);
    padding-top: 10vh;
    font-family: 'Tangerine', cursive;
    font-size: 70px;
    font-weight: 700;
}
.library h2, 
.header h2,
.add-book h3 {
    padding-top: 15px;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    margin-bottom: 0;
}
.add-book h3 {
    font-size: 40px;
}
.header h2 {
    color:rgb(250, 247, 235);
    padding-top: 5vh;
    padding-bottom: 15px;
}
.image-container {
    height: 20vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}
img { 
    width: 60%;
    height: auto;
    border-radius: 10px;
}
hr {
    height: 10px;
    border-radius: 25px;
    width: 90vw;
    border: none;
    background-image: linear-gradient(to right, rgba(226, 192, 139, 0), rgba(137, 37, 23, 0.75), rgba(226, 192, 139, 0));
}
.my-btn {
    color: white;
    border: 1px solid #231709;
    background: url("../images/app-images/book-spine.png") no-repeat left center;
    background-size: fill;
    margin-top: 20px;
    width: 60vw;
    padding-left: 0;
    padding-right: 0;
}
.profile-btn {
    background-color:rgba(137, 37, 23, 0.75);
    border: 1px solid #231709;
    color: rgb(250, 247, 235);
}
.edit-btn {
    background-color:rgb(188 150 83);
    border: 1px solid #231709;
    color:  #231709;
}
.delete-btn {
    background-color:#231709;
    border: 1px solid #231709;
    color: rgb(250, 247, 235);
}
fieldset {
    width:90%;
    padding-left: 10%;
}
label,
.rating-stars p {
    margin-bottom: 0;
}
input,
.custom-select,
textarea {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 5px;
}
.books p {
    margin-bottom: 0.25rem;
}
.flashes {
    margin-top: 10px;
    background-color: rgba(137, 37, 23, 0.75) ;
    color: white;
    border-radius: 5px;
}
.signin.form {
    border: 1px solid #ced4da;
    padding: 10px;
    margin-top: 5vh;
}
/*---- Contact Form ----*/
input[name=rating] {
    display: none;
  }
.rating-stars label {
    font-size: 20px;
    color: rgb(188 150 83);
  }
.rating-stars input:checked~label {
    color: rgba(137, 37, 23);
  }
.search-box .my-btn,
.search-box input {
    margin-bottom: 15px;
    margin-top: 0;
    height: 38px;
}
.search-box .my-btn {
    width: 100%;
}
.library h2 {
    padding-bottom: none;
}
.custom-control {
    margin-top : 10px;
    margin-bottom : 10px;
}
.card {
    margin-top: 10px;
}
.about {
    margin-bottom: 10px;
}
.about h3 {
    font-size: 24px;
}

@media(min-width:750px){
    .my-btn {
        width: 20vw;
    }
}