@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Tangerine:wght@400;700&display=swap');
.container-fluid{
    background-color: rgb(250, 247, 235);
}
body{
    font-family: 'Gentium Book Basic', serif;
}
.nav-link,
.navbar-brand,
.navbar-toggler,
.footer-link,
.social,
.sign-up-link,
.register-link,
.library-link,
.sign-in-link {
    color:  #231709;
    font-weight: 600;
}
.library-link {
    font-size: 24px;
}
.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover,
.footer-link:hover,
.social:hover,
.sign-up-link a:hover,
.register-link:hover,
.library-link:hover,
.sign-in-link:hover {
    color: #012d50;
    text-decoration: none;
}
.navbar-brand{
    font-family: 'Tangerine', cursive; 
    font-size: 36px
}
.social{
    font-size: 20px;
    padding: 0 10px;
}
footer p {
    margin-bottom: 0;
}
.title-container {
    height: 30vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}
.image-container {
    height: 20vh;
    background: url("../images/app-images/books-med.jpg") no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}
.title-container h1 {
    color: rgb(250, 247, 235);
    padding-top: 10vh;
    font-family: 'Tangerine', cursive;
    font-size: 70px;
    font-weight: 700;
}
.library h2, 
.header h2,
.add-book h3,
h3.genres,
.search-results h3,
h3.users,
h3.bookcase {
    padding-top: 15px;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    margin-bottom: 0;
}
.add-book h3,
h3.genres,
.search-results h3,
h3.users,
h3.bookcase {
    font-size: 50px;
}
.bookshelf a {
    font-size: 24px;
}
.header h2 {
    color:rgb(250, 247, 235);
    padding-top: 5vh;
    padding-bottom: 15px;
}
img { 
    width: 60%;
    height: auto;
    border-radius: 10px;
}
hr {
    height: 10px;
    border-radius: 25px;
    width: 90vw;
    border: none;
    background-image: linear-gradient(to right, rgba(226, 192, 139, 0), rgba(112, 66, 65, 1), rgba(226, 192, 139, 0));
}
.my-btn {
    color: white;
    border: 1px solid #231709;
    background: url("../images/app-images/book-spine.png") repeat left center;
    background-size: fill;
    margin-top: 20px;
    width: 60vw;
    padding-left: 0;
    padding-right: 0;
}
.delete-btn,
.edit-genres-btn {
    background-color: rgb(156 22 12);
    border: 1px solid #231709;
    color: rgb(250, 247, 235);
    margin-right: 5px;
}
.edit-genres-btn,
#edit-genre-form input {
    height: 30px;
}
.edit-genres-btn {
    padding: 0 10px;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.edit-btn,
.read-btn {
    background-color:rgb(188 150 83);
    border: 1px solid #231709;
    color:  #231709;
    margin-right: 5px;
}
.profile-btn,
.search-btn,
.reset-btn {
    background-color:#012d50;
    border: 1px solid #231709;
    color: rgb(250, 247, 235);
}
fieldset {
    width:90%;
    padding-left: 10%;
}
label,
.rating-stars p {
    margin-bottom: 0;
}
.profile-books {
    text-align: center;
}
input,
.custom-select,
textarea {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 5px;
}
.books p {
    margin-bottom: 0.25rem;
}
.flashes {
    margin-top: 10px;
    background-color: rgba(137, 37, 23, 0.75) ;
    color: white;
    border-radius: 5px;
}
.signin.form {
    border: 1px solid #ced4da;
    padding: 10px;
    margin-top: 5vh;
}
.row.genres {
    margin-top: 10px;
}
.genres .btn {
    height: 41px;
}
.profile-books .btn,
.profile-books p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.profile-books .card {
    height: 31px;
}
/*---- Contact Form ----*/
input[name=rating] {
    display: none;
  }
.rating-stars label {
    font-size: 20px;
    color: rgb(188 150 83);
  }
.rating-stars input:checked~label {
    color: rgb(156 22 12) ;
  }
.search-box .my-btn,
.search-box input,
#add-genre-form input,
#add-genre-form button {
    margin-bottom: 15px;
    margin-top: 0;
    height: 38px;
}
.search-box .my-btn {
    width: 100%;
}
.library h2 {
    padding-bottom: none;
}
.custom-control {
    margin-top : 10px;
    margin-bottom : 10px;
}
.card {
    margin-top: 10px;
    margin-bottom: 10px;
}
input {
    padding-left: 5px;
}
.about {
    margin-bottom: 10px;
}
.about h3 {
    font-size: 24px;
}
.genres-btn button {
    width: 100%;
}
.edit-genre {
    padding-left: 0;
    padding-right: 0;
}
.btn.hover:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;  
    color: white;
  }
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
.btn.hover {
    transition: none;
}
.own-btn,
.cancel-btn {
    background-color: #043c04;
    border: 1px solid #231709;
    color: rgb(250, 247, 235);
}
.search {
    padding-left: 0;
}
.users .col-10,
.genres .col-10 {
    margin-bottom: 8px;
}
.users p,
.genres p {
    margin-bottom: 0px;
    font-size: 20px;
}
.warning a {
    margin-bottom: 8px;
}
@media(max-width:750px){
    .btn i {
        display: none;
    }
}
@media(min-width:750px){
    .my-btn {
        width: 20vw;
    }
    .title-container {
        height: 40vh;
    }
    .image-container{
        height: 30vh;
    }
    .header h2 {
        padding-top: 10vh;
    }
}
@media(min-width:770px){
    .profile-books {
        text-align: left;
    }
    .profile-books .card {
        text-align: center;
    }
}
@media(min-width:1000px){
    .nav-link {
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 40px;
    }
}