<!-- Gets code from base.html -->
{% extends "base.html" %}

<!-- Page header on image background -->
{% block image %}
<div class="image-container">
    <div class="col-12 header text-center">
        <h2 class="text-center">Get in touch! <i class="fas fa-keyboard" aria-hidden="true"></i></h2>
    </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">
        <p>We would love to hear your comments and suggestions. Please get in touch.
        </p>
    </div>
</div>
<!-- Contact form -->
<form id="contact-form">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <fieldset>
                <legend>Personal details</legend>
                <label for="firstname">First Name:</label><br>
                <input id="firstname" type="text" name="first-name" value="{{ name }}" required><br>
                <label for="surname">Surname:</label><br>
                <input id="surname" type="text" name="surname" value="{{ surname }}" required><br>
                <label for="email">Email Address:</label><br>
                <input id="email" type="email" name="email" value="{{ email }}" required><br>
                <label class="form-label" for="textarea">Comments:</label><br>
                <textarea id="textarea" name="comments" cols="40" rows="5" required></textarea>
                <!-- Rate us stars -->
                <div role="radiogroup" class="rating-stars">
                    <p>Rate us: </p>
                    <label for="rating" tabindex="0" aria-label="1 star"><i class="fas fa-star"></i></label>
                    <input id="rating" aria-checked="false" type="radio" name="rating" value="1 star">
                    <label for="rating1" tabindex="0" aria-label="2 stars"><i class="fas fa-star"></i></label>
                    <input id="rating1" aria-checked="false" type="radio" name="rating" value="2 stars">
                    <label for="rating2" tabindex="0" aria-label="3 stars"><i class="fas fa-star"></i></label>
                    <input id="rating2" aria-checked="true" type="radio" name="rating" value="3 stars" checked>
                    <label for="rating3" tabindex="0" aria-label="4 stars"><i class="fas fa-star"></i></label>
                    <input id="rating3" aria-checked="false" type="radio" name="rating" value="4 stars">
                    <label for="rating4" tabindex="0" aria-label="5 stars"><i class="fas fa-star"></i></label>
                    <input id="rating4" aria-checked="false" type="radio" name="rating" value="5 stars">
                </div>
            </fieldset>
        </div>
    </div>
    <!-- Submit Button -->
    <div class="row button text-center">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <button id="submit-button" type="submit" class="btn my-btn btn-lg hover">Send message
                <i class="fas fa-envelope" aria-hidden="true"></i></button>
        </div>
    </div>
</form>

<!-- Successful submission Modal, mostly code from bootstrap -->
<div class="modal" id="submit-modal" role="dialog" tabindex="-1" aria-labelledby="sentmodaltitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="sentmodaltitle">Sent! <i class="fas fa-envelope"></i></h3>
                <a href="{{ url_for('library') }}" class="close"
                    aria-label="Closes modal and takes you back to home page">
                    <span> <i class="fas fa-times" aria-hidden="true"></i> </span>
                </a>
            </div>
            <div id="response" class="modal-body">
            </div>
            <a href="{{ url_for('library') }}" class="btn modal-btn hover-btn"
                aria-label="Closes modal and takes you back to home page">Close</a>
        </div>
    </div>
</div>
{% endblock %}
<hr>

<!-- Footer link specific for the page -->
{% block link %}
<a class="footer-link" href="{{ url_for('contact') }}" aria-label="Back top top link">Back to top</a><br />
{% endblock %}

<!-- Script specific for the page -->
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script defer src="static/js/contact.js"></script>
{% endblock %}