<!-- In addition to base.html code -->
{% extends "base.html" %}

<!-- Page header on image background -->
{% block image %}
<div class="image-container">
    <div class="col-12 header text-center">
        <h2>Edit Account <i class="fas fa-edit" aria-hidden="true"></i></h2>
    </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<!-- Edit account form -->
<div class="row edit-account">
    <div class="col-6 offset-2 offset-md-3 header">
        <h3>Personal Details</h3>
    </div>
    <div class="col-3 col-md-2 text-center">
        <a href="{{ url_for('library') }}" aria-label="Go back to library" 
        class="btn btn-sm delete-btn hover">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
    </div>
</div>
<form id="edit-account-form" method="POST" action="{{ url_for ('edit_account') }}">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 form">
            <fieldset>
                <!-- Fields prefilled with the existing information where they can -->
                <label for="username">Username:</label><br />
                <input id="username" type="text" name="username" value="{{ user.username }}" disabled required /><br />
                <label for="firstname">First Name:</label><br />
                <input id="firstname" type="text" name="first_name" value="{{ user.first_name }}" pattern="^\S+$"
                    data-toggle="tooltip" data-placement="top" title="No spaces" required /><br />
                <label for="surname">Surname:</label><br />
                <input id="surname" type="text" name="surname" value="{{ user.surname }}" pattern="^\S+$"
                    data-toggle="tooltip" data-placement="top" title="No spaces" required /><br />
                <label for="email">Email Address:</label><br />
                <input id="email" type="email" name="email" value="{{ user.email }}" pattern="^\S+$"
                    data-toggle="tooltip" data-placement="top" title="No spaces" required /><br />
                <select class="custom-select" id="genre" name="genre" required>
                    <option selected disabled value="">Pick your favourite genre</option>
                    {% for genre in genres %}
                    <option value="{{ genre.name }}">{{ genre.name.title() }}</option>
                    {% endfor %}
                </select>
                <!-- Buttons that toggle, change-password and delete account confirmation -->
                <div class="text-center password">
                    <a data-toggle="collapse" href="#change-password" class="btn btn-sm reset-btn hover">Change password?</a>
                </div>
                <!-- Change password collapse section so that user cannot accidentally change password. -->
                <div id="change-password" class="collapse password">
                    <label for="current-password">Current Password:</label><br />
                    <input id="current-password" type="password" name="current-password"
                        pattern="^[a-zA-Z0-9]{5,15}$" /><br />
                    <label for="password">Password:</label><br />
                    <input id="password" type="password" name="password" pattern="^[a-zA-Z0-9]{5,15}$" /><br />
                    <label for="confirm-password">Confirm Password:</label><br />
                    <input id="confirm-password" type="password" name="confirm-password"
                        pattern="^[a-zA-Z0-9]{5,15}$" /><br />
                </div>
            </fieldset>
        </div>
    </div>
    <!-- Submit button -->
    <div class="row button text-center">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <button type="submit" class="btn my-btn btn-lg hover">Update Account</button>
        </div>
    </div>
    <div class="text-center delete">
        <a href="{{ user.username }}-delete" data-toggle="collapse">Delete my account</a>
    </div>
     <!-- Delete account confirmation with delete and cancel buttons -->
     <div id="{{ user.username }}-delete" class="row collapse text-center warning">
        <div class="col-12">
            <strong><i class="fas fa-exclamation"></i> Are you sure you want to delete your account
                {{ user.first_name }}?</strong>
            <div>
                <a data-toggle="collapse" href="#{{ user.username }}-delete"
                    aria-label="Will close delete confirmation section"
                    class="btn btn-sm cancel-btn hover">Cancel <i class="fas fa-times"
                        aria-hidden="true"></i></a>
                <a href="{{ url_for('delete_account') }}" class="btn btn-sm delete-btn hover">Delete <i
                        class="fas fa-trash-alt" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</form>
<hr>
{% endblock %}

<!-- Footer link specific for the page -->
{% block link %}
<a class="footer-link" href="{{ url_for('edit_account') }}" aria-label="Back to top link">Back to top</a><br />
{% endblock %}