{% extends "base.html" %}
{% block image %}

<div class="image-container">
    <div class="col-12 header text-center">
        <h2>Edit User</h2>
    </div>
</div>

{% endblock %}

{% block content %}

<form id="edit_user-form" method="POST" action="{{ url_for ('edit_user', user_id=user._id) }}">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 form">
            <fieldset>
                <legend>Personal details</legend>
                <label for="username">Username:</label><br />
                <input id="username" type="text" name="username" value="{{ user.username }}" disabled required /><br />
                <label for="email">Email Address:</label><br />
                <input id="email" type="email" name="email" value="{{ user.email }}" required /><br />
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="admin" name="admin" class="custom-control-input">
                    <label class="custom-control-label" for="admin">Is user an Admin?</label>
                </div>  
                <div class="text-center">
                    <a data-toggle="collapse" data-target="#reset-password" class="btn btn-md reset-btn hover">Reset Users Password?</a>
                </div>
                <div id="reset-password" class="collapse">
                    <label for="password">Password:</label><br />
                    <input id="password" type="password" name="password" pattern="^[a-zA-Z0-9]{5,15}$" /><br />
                    <label for="password">Confirm Password:</label><br />
                    <input id="confirm-password" type="password" name="confirm-password" pattern="^[a-zA-Z0-9]{5,15}$" /><br />
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row button text-center">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <button type="submit" class="btn my-btn btn-lg hover">Update User</button>
        </div>
    </div>
</form>
<hr>
{% endblock %} 

{% block link %}
<a class="footer-link" href="{{ url_for('register') }}">Back to top</a><br />
{% endblock %}