{% extends "base.html" %}
{% block image %}

<div class="image-container">
    <div class="col-12 header text-center">
        <h2>Update Book <i class="fas fa-pen" aria-hidden="true"></i></h2>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="add-book text-center">
    <h3>Book Details</h3> 
</div>
<form id="add-book-form" method="POST" action="{{ url_for ('edit_book', book_id=book._id) }}">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 form">
                <label for="title">Title:</label><br />
                {% if admin %}
                <input id="title" type="text" name="title" value="{{ book.title.title() }}"/><br />
                {% else %}
                <input id="title" type="text" name="title" value="{{ book.title.title() }}" disabled /><br />
                {% endif %}
                <label for="author">Author:</label><br />
                <input id="author" type="text" name="author" value="{{ book.author.title() }}"required /><br />
                <label for="genre">Genre:</label><br />
                <select class="custom-select" id="genre" name="genre" required>
                    <option value="" selected disabled>Pick genre</option>
                    {% for genre in genres %}
                    <option value="{{ genre.name }}">{{ genre.name.title() }}</option>
                    {% endfor %}
                </select>
                <label for="cover_image">Cover image url:</label><br />
                {% if book.cover_image %}
                <input id="cover_image" type="text" name="cover_image" value="{{ book.cover_image }}"><br>
                {% else %}
                <input id="cover_image" type="text" name="cover_image"><br>
                {% endif %}
                <div class="custom-control custom-switch">
                    {% if book.series == "Yes" %}
                    <input type="checkbox" id="series" name="series" class="custom-control-input" checked>
                    {% else %}
                    <input type="checkbox" id="series" name="series" class="custom-control-input">
                    {% endif %}
                    <label class="custom-control-label" for="series">Is this book part of a series?</label>
                </div>             
                <label for="series_name">Series Name:</label><br />
                <input id="series_name" type="text" name="series_name" value="{{ book.series_name.title() }}"/><br/>
                <label for="synopsis">Synopsis:</label><br>
                <textarea id="synopsis" name="synopsis" cols="40" rows="5" required>{{ book.synopsis }}</textarea>
                <label for="review">Review:</label><br>
                {% if book.review %}
                <textarea id="review" name="review" cols="40" rows="5">{{ book.review }}</textarea>
                {% else %}
                <textarea id="review" name="review" cols="40" rows="5" placeholder="Optional, you can do this later."></textarea>
                {% endif %}
                <div role="radiogroup" class="rating-stars">
                    <p>Rate book: </p>
                    <label for="rating" tabindex="0" aria-label="1 star"><i class="fas fa-star"></i></label>
                    <input id="rating" aria-checked="false" type="radio" name="rating" value="1">
                    <label for="rating1" tabindex="0" aria-label="2 stars"><i class="fas fa-star"></i></label>
                    <input id="rating1" aria-checked="false" type="radio" name="rating" value="2">
                    <label for="rating2" tabindex="0" aria-label="3 stars"><i class="fas fa-star"></i></label>
                    <input id="rating2" aria-checked="true" type="radio" name="rating" value="3" checked>
                    <label for="rating3" tabindex="0" aria-label="4 stars"><i class="fas fa-star"></i></label>
                    <input id="rating3" aria-checked="false" type="radio" name="rating" value="4">
                    <label for="rating4" tabindex="0" aria-label="5 stars"><i class="fas fa-star"></i></label>
                    <input id="rating4" aria-checked="false" type="radio" name="rating" value="5">
                </div>
        </div>
    </div>
    <div class="row button text-center">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <button type="submit" class="btn my-btn btn-lg hover">Update Book</button>
        </div>
    </div>
</form>

{% endblock %}

{% block link %}
    <a class="footer-link" href="{{ url_for('edit_book', book_id=book._id) }}">Back to top</a><br>
{% endblock %}