<!-- Adds to code from base.html -->
{% extends "base.html" %}

<!-- Page header on image background -->
{% block image %}
<div class="image-container">
    <div class="col-12 header text-center">
        <h2>Edit User <i class="fas fa-pen" aria-hidden="true"></i></h2>
    </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<!-- Edit user form -->
    <div class="row edit-user text-center">
        <div class="col-6 offset-2 offset-md-3 header">
            <h3>Personal Details</h3>
        </div>
        <div class="col-3 col-md-2 text-center">
            <a href="{{ url_for('manage_users') }}" aria-label="Go back to manage users" 
            class="btn btn-sm delete-btn hover">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
    <form id="edit_user-form" method="POST" action="{{ url_for ('edit_user', user_id=user._id) }}">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 form">
                <fieldset>
                    <!-- Fields prefilled with the existing information -->
                    <label for="username">Username:</label><br>
                    <input id="username" type="text" name="username" value="{{ user.username }}" disabled required><br>
                    <label for="email">Email Address:</label><br>
                    <input id="email" type="email" name="email" value="{{ user.email }}" required><br>
                    <!-- Switch to make user an admin -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="admin" name="admin" class="custom-control-input">
                        <label class="custom-control-label" for="admin">Is user an Admin?</label>
                    </div>
                    <!-- Buttons to toggle change-password form section if required-->
                    <div class="text-center password">
                        <a data-toggle="collapse" href="#reset-password" class="btn btn-sm reset-btn hover"
                            aria-label="Will open change password section">Reset
                            Users Password?</a>
                    </div>
                    <!-- Change password collapse section so that cannot accidentally change password. -->
                    <div id="reset-password" class="collapse password">
                        <label for="password">Password:</label><br>
                        <input id="password" type="password" name="password" pattern="^[a-zA-Z0-9]{5,15}$"
                            data-toggle="tooltip" data-placement="top" 
                            title="Between 5 & 15 characters with no spaces."><br>
                        <label for="password">Confirm Password:</label><br>
                        <input id="confirm-password" type="password" name="confirm-password"
                            pattern="^[a-zA-Z0-9]{5,15}$" data-toggle="tooltip" 
                            data-placement="top" title="Between 5 & 15 characters with no spaces."><br>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- Submit button -->
        <div class="row button text-center">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <button type="submit" class="btn my-btn btn-lg hover">Update User</button>
            </div>
        </div>
    </form>
<hr>
{% endblock %}

<!-- Footer link specific for the page -->
{% block link %}
<p><a class="footer-link" href="{{ url_for('edit_user', user_id=user._id) }}" aria-label="Back to top link">Back to
    top</a></p>
{% endblock %}