<!-- In addition to base.html code -->
{% extends "base.html" %}

<!-- Page header on image background -->
{% block image %}
<div class="title-container">
  <div class="row">
    <div class="col-12 text-center header">
      <h2>Manage Genres</h2>
    </div>
  </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content%}
<h3 class="genres text-center">Add genre</h3>
<!-- Add genre form -->
<form id="add-genre-form" method="POST" action="{{ url_for ('add_genre') }}">
  <div class="row">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
      <label for="name">Genre name:</label> 
      <input id="name" type="text" name="name" placeholder="e.g Fantasy" required /><br />
    </div>
    <!-- Add genre submit button -->
    <div class="col-8 offset-2 col-md-4 offset-md-4 text-center genres-btn">
      <button type="submit" class="btn my-btn btn-lg hover">
        <i class="fas fa-plus"></i> Add Genre</button>
    </div>
  </div>
</form>
<hr>

<!-- Display current genres -->
<h3 class="genres text-center">Current Genres</h3>
{% for genre in genres %}
  <div class="row genres text-center">
    <div class="col-10 offset-1 col-md-6 offset-md-1 shadow-lg p-1 bg-white rounded">
      <p>{{ genre.name.title() }}</p>
    </div>
    <!-- Edit and delete buttons, both open their own collapsible section -->
    <div class="col-10 offset-1 col-md-5 offset-md-0">
      <a data-toggle="collapse" data-target="#{{ genre.name.replace(' ', '') }}-form" class="btn btn-md edit-btn hover">Edit <i class="fas fa-edit"></i></a>
      <a data-toggle="collapse" data-target="#{{ genre.name.replace(' ', '') }}-delete"class="btn btn-md delete-btn hover">Delete <i class="fas fa-trash-alt"></i></a>
    </div>
  </div>
  <!-- Delete genre confirmation with delete and cancel buttons -->
  <div id="{{ genre.name.replace(' ', '') }}-delete" class="row collapse text-center warning">
    <div class="col-12">
      <strong><i class="fas fa-exclamation"></i> Are you sure you want to delete {{ genre.name }}?</strong>
      <div>
        <a data-toggle="collapse" data-target="#{{ genre.name.replace(' ', '') }}-delete" class="btn btn-sm cancel-btn hover">Cancel <i class="fas fa-times"></i></a>
        <a href="{{ url_for('delete_genre', genre_id=genre._id) }}"class="btn btn-sm delete-btn hover">Delete <i class="fas fa-trash-alt"></i></a>
      </div>
    </div>
  </div> 
  <!-- Edit genre form -->
  <form id="{{ genre.name }}-form" method="POST" action="{{ url_for ('edit_genre', genre_id=genre._id) }}" class="collapse">
    <div class="row">
      <div class="col-7 offset-1 col-md-6 edit-genre">
        <label for="name">Genre name:</label> 
        <input id="name" type="text" name="name" required value="{{ genre.name.title() }}"/>
      </div>
      <!-- Edit genre submit button -->
      <div class="col-4 col-md-3 genre-edit">
        <button type="submit" class="btn btn-lg  edit-genres-btn hover">
          Save <i class="far fa-save"></i></button>
      </div>
    </div>
  </form>
{% endfor %}
<hr>
{% endblock %}

<!-- Footer link specific for the page -->
{% block link %}
<a class="footer-link" href="{{ url_for('manage_genre') }}">Back to top</a><br>
{% endblock %}