<!-- In addition to base.html code -->
{% extends "base.html" %}

<!-- Page header on image background -->
{% block image %}
<div class="image-container">
  <div class="row">
    <div class="col-12 text-center header">
      <h2>Manage Users <i class="fas fa-user" aria-hidden="true"></i></h2>
    </div>
  </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content%}
<h3 class="users text-center">Search Users</h3>
<!-- Search User form -->
<form id="user-search-form" method="POST" action="{{ url_for ('search_users') }}">
  <div class="row search-box text-center">
    <div class="col-8 col-xl-4 offset-xl-4">
      <input type="text" name="search" id="search" placeholder="Username or admin" aria-label="Search users">
    </div>
    <!-- Search User submit button -->
    <div class="col-3 col-lg-2 search">
      <button type="submit" class="btn btn-md search-btn hover">Search <i class="fas fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
</form> 
<hr>

<!-- If results from search display them -->
{% if results %}
<h3 class="users text-center">Search Results</h3>

  {% for result in results %}
  <div class="row users text-center">
    <div class="col-5 offset-1 col-md-6 offset-md-1 shadow-lg p-1 bg-white rounded">
      <p>{{ result.username }}<p>
    </div>
    <!-- Edit and delete buttons -->
    <div class="col-5 col-md-5 offset-md-0">
      <a href="{{ url_for('edit_user', user_id=result._id) }}" aria-label="Opens edit user page" class="btn btn-sm p-1 edit-btn hover">Edit <i class="fas fa-edit" aria-hidden="true"></i></a>
      <a data-toggle="collapse" data-target="#{{ result.username }}-delete" aria-label="Opens delete user confirmation section" class="btn btn-sm p-1 delete-btn hover">Delete <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
    </div>
  </div>
  <!-- Delete user confirmation with delete and cancel buttons -->
  <div id="{{ result.username }}-delete" class="row collapse text-center warning">
    <div class="col-12">
      <strong><i class="fas fa-exclamation" aria-hidden="true"></i> Are you sure you want to delete {{ result.username }}?</strong>
      <div>
        <a data-toggle="collapse" data-target="#{{ result.username }}-delete" aria-label="Closes delete user confirmation section" class="btn btn-sm cancel-btn hover">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
        <a href="{{ url_for('delete_user', user_id=result._id) }}"class="btn btn-sm delete-btn hover">Delete <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}

<!-- On normal page load i.e not a search display existing users -->
{% for user in users %}
<div class="row users text-center">
  <div class="col-6 offset-1 col-md-6 offset-md-1 shadow-lg p-1 bg-white rounded">
    <p>{{ user.username }}<p>
  </div>
  <!-- Edit and delete buttons -->
  <div class="col-4 col-md-5 offset-md-0">
    <a href="{{ url_for('edit_user', user_id=user._id) }}" aria-label="Opens edit user page" class="btn btn-sm p-1 edit-btn hover">Edit <i class="fas fa-edit" aria-hidden="true"></i></a>
    <a data-toggle="collapse" data-target="#{{ user.username }}-delete" aria-label="Opens delete user confirmation section" class="btn btn-sm p-1 delete-btn hover">Delete <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
  </div>
</div>
<!-- Delete user confirmation with delete and cancel buttons -->
<div id="{{ user.username }}-delete" class="row collapse text-center warning">
  <div class="col-12">
    <strong><i class="fas fa-exclamation" aria-hidden="true"></i> Are you sure you want to delete {{ user.username }}?</strong>
    <div>
      <a data-toggle="collapse" data-target="#{{ user.username }}-delete" aria-label="Closes delete genre confirmation section" class="btn btn-sm cancel-btn hover">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
      <a href="{{ url_for('delete_user', user_id=user._id) }}"class="btn btn-sm delete-btn hover">Delete <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
{% endfor %}
<hr>
{% endblock %}

<!-- Footer link specific for the page -->
{% block link %}
<a class="footer-link" href="{{ url_for('manage_users') }}" aria-label="Back to top link">Back to top</a><br>
{% endblock %}