{% extends "base.html" %} 
{% block image %}

<div class="image-container">
    <div class="col-12 header text-center">
        <h2>{{ name }}'s Profile</h2>
    </div>
</div>

{% endblock %}

{% block content %}

<h3 class="bookcase text-center">My Bookcase</h3>

<div class="row bookshelf text-center">
    <a data-toggle="collapse" data-target="#read_books" class="col-10 offset-1 col-md-8 offset-md-2 btn btn-md my-btn hover">Read books <i class="fas fa-caret-down"></i></a>
</div>
{% for book in read_books %}
  <div id="read_books" class="row collapse profile-books">
    <div class="col-10 offset-1 col-md-6 offset-md-1 col-lg-4 offset-lg-2 text-center">
      <p class="text-center card">{{ book.title() }}</p>
    </div>
    <div class="col-10 offset-1 col-md-5 offset-md-0 col-lg-4">
      <a href="" class="btn btn-sm read-btn hover">Not read? <i class="far fa-edit"></i></button>
      <a href="" class="btn btn-sm delete-btn hover">Remove <i class="fas fa-trash-alt"></i></a>
    </div>
  </div>
{% endfor %}

<div class="row bookshelf text-center">
    <a data-toggle="collapse" data-target="#books_to_read" class="col-10 offset-1 col-md-8 offset-md-2 btn btn-md my-btn hover">Books to read <i class="fas fa-caret-down"></i></a>
</div>

{% for book in books_to_read %}
  <div id="books_to_read" class="row collapse profile-books">
    <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-2 text-center">
      <p class="text-center card">{{ book.title() }}</p>
    </div>
    <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4">
      <a href="" class="btn btn-sm read-btn hover">
        Read? <i class="far fa-edit"></i></button>
      <a href="" class="btn btn-sm delete-btn hover">Remove <i class="fas fa-trash-alt"></i></a>
      {% if book not in own_books %}
      <a href="" class="btn btn-sm own-btn hover">Own? <i class="fas fa-plus"></i></a>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block link %}
    <a class="footer-link" href="{{ url_for('profile', username=session['user']) }}">Back to top</a><br>
{% endblock %}